<% provide(:title, 'Make your redirection') %>
<h1>Make your redirection</h1>

<div class="row justify-content-center">
  <div class="col-md-6">
	<%= form_for(@url, url: makeredirect_path) do |f| %>

      
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :source %>
      <%= f.text_field :source, class: 'form-control' %>

      <%= f.label :destination %>

      </br>
      <span>Make sure to include http:// or https:// before your destination address.</span>
      <%= f.text_field :destination, class: 'form-control' %>
	  
      <%= f.submit "Create my redirection", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

